body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #161b22;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 24px;
  color: #a855f7;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: #a855f7;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
}

/* About us page */
.about-us {
  margin-bottom: 20px;
  background-color: #21262d;
}

.mytable {
  width: 90%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 20px auto 0;
  background-color: #161b22;
}

.tableHeader {
  padding: 10px;
  background-color: #a855f7;
  text-align: left;
  margin-top: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cells {
  padding: 15px;
  text-align: center;
  border: 1px solid #30363d;
  vertical-align: top;
  background-color: #0d1117;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.fa-brands {
  margin: 5px;
  color: #a855f7;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.2);
  color: #ffffff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #161b22;
  color: #c9d1d9;
  font-size: 14px;
  border-top: 1px solid #a855f7;
}

@media (max-width: 576px) {
 
  nav ul {
    flex-direction: row;
    align-items: left;
  }


  .mytable {
    width: 100%;
    border-spacing: 5px;
  }
  .cells {
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .fa-brands {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .mytable {
    width: 90%;
  }

  .cells {
    padding: 15px;
  }

  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .mytable {
    width: 80%;
  }

  .cells {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}